{{ define "table" }}
<!-- Table -->
{{ $endpoint := (print "table?tableName=" .Pagination.Data.TableName) }}
{{ $target := toHTMLID (print "table-content-" .Pagination.Data.TableName )}}

<div 
  id="{{ $target }}"
>
  <h4
  class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
  >
  {{ .Pagination.Data.TableName }}
  </h4>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">


    
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
          {{range .Headers}}
            <th class="px-4 py-3">{{ . }}</th>
          {{end}}
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        {{ range .TableData }}
          <tr class="text-gray-700 dark:text-gray-400">
              {{ . }}
          </tr>
        {{ end }}
      </tbody>
    </table>


  </div>
  <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
    <span class="flex items-center col-span-3">
      Showing {{ .Pagination.Display.ItemStart }}-{{ .Pagination.Display.ItemEnd }} of {{ .Pagination.Data.ItemTotal }}
    </span>
    <span class="col-span-2"></span>
    <!-- Pagination -->
    <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
      <nav aria-label="Table navigation">
        <ul class="inline-flex items-center">
          {{ if gt .Pagination.Config.CurrentPage 1 }}
          <li>
            <a
              class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple" 
              aria-label="Previous"
              href="#"
              hx-get="{{ $endpoint }}&page={{ subuint32 .Pagination.Config.CurrentPage 1 }}"
              hx-target="#{{ $target }}" 
              hx-trigger="click, error:loadError"
              hx-swap="outerHTML"
            >
              <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
              </svg>
            </a>
          </li>
          {{ end }}

          <!-- Page Numbers -->
          {{ $currentPage := .Pagination.Config.CurrentPage }}
          {{ range $i, $page := .Pagination.Display.PageList }}
            <li>
              <a
                class="
                {{ if eq $page (printf "%d" $currentPage) }}px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple
                {{ else }}px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple{{ end }}"
                href="#"
                hx-get="{{ $endpoint }}&page={{ $page }}"
                hx-target="#{{ $target }}" 
                hx-trigger="click, error:loadError"
                hx-swap="outerHTML"
              >{{ $page }}</a>
            </li>
          {{ end }}


          {{ if lt .Pagination.Config.CurrentPage .Pagination.Display.TotalPages }}
          <li>
            <a 
              class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple" 
              aria-label="Next"
              href="#"
              hx-get="{{ $endpoint }}&page={{ adduint32 .Pagination.Config.CurrentPage 1 }}"
              hx-target="#{{ $target }}"
              hx-trigger="click, error:loadError"
              hx-swap="outerHTML"
            >
              <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
              </svg>
            </a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </span>
  </div>
</div>
{{ end }}