{{ define "charts/Pie"}}
      <script>
        // minor rendering bug - this adds a listener for all pie elements, not just the inteded target
        // also, the chart reloads on every htmx:load event, so it looks bad
        // let isPieSetupComplete = false;
        // if (!isPieSetupComplete){
        //     document.body.addEventListener('htmx:load', configPieChart);
        //     isPieSetupComplete = true;
        // }
        configPieChart()

        function configPieChart() {
            const pieCtx = document.getElementById('pie');
            let pieConfig = {{ .JSON }};
            if (pieCtx) {
                window.myPie = new Chart(pieCtx, pieConfig);
            }
        }
      </script>
      <div
        class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
      >
        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
          {{ .Legend.Title }}
        </h4>
        <canvas id="pie"></canvas>
        <div
          class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400"
        >
          <!-- Chart legend -->
          {{ range .Legend.Labels }}
          <div class="flex items-center">
            <span
              class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color: {{ .HexColor }};"
            ></span>
            <span>{{ .Label }}</span>
          </div>
          {{ end }}
        </div>
      </div>
{{ end }}